body {
    margin: 0;
}

.parent {
    width: 100vw;
    height: 100vh;
    background-color: #1e90ff;
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
}

.child {
    width: 100px;
    height: 100px;
    background-color: blueviolet;
    border: 2px solid violet;
}